@import '~styles/base.scss';

.profile {
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: $text-1;

  .userInfo {
    margin-bottom: 20px;

    .profile-pic {
      border-radius: 50%;
      border: 2px solid $pallete-2;
      width: 128px;
    }
    
    .name {
      font-weight: bold;
    }
  }
}
