@import '~styles/base.scss';

.fab-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  
  &.bg {
    background-color: $pallete-1-t;
    border-left: 1px solid $pallete-1;
  }

  .fab-nav {
    text-align: right;
    color: $text-1;
    margin-bottom: 10px;
    position: absolute;
    bottom: 75px;
    right: 25px;
  }

  .fab-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
}

.fab-text {
  color: $text-1;
  font-size: larger;
  margin-bottom: 10px;
  background-color: $pallete-1;
  border-radius: 4px;
  border: 1px solid $pallete-2;
  padding: 0 5px;
}
