$bg-color: #ECECEC;

$pallete-1: #007FFF;
$pallete-1-t: #007FFFCC;
$pallete-1-20t: #007FFF22;
$pallete-2: #00FF7F;
$pallete-2-t: #00FF7FCC;

$white: #FFFFFF;
$black: #100C08;
$black-50t: #100C08AA;

$light-grey: #DDD;
$grey: #7A7A7A;

$bubble-outline: #FFF;
