$bg-color: black;
$bg-color-t: #00000088;
$selected: #e5e4e2;
$dark-1: #282C35;

$pallete-1: #000D80;
$pallete-1-t: #000D8088;
$pallete-2: #0080ff;
$pallete-3: #7EF9FF;
$pallete-4: #f7fbfc;

$text-1: #dadada;
