@import '~styles/base.scss';

body {
  background-color: $bg-color;
  font-family: 'Roboto', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $scroll-bar-color;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-color;    /* color of the scroll thumb */
  border-radius: 0;    /* roundness of the scroll thumb */
}

.App {
  display: flex;
  justify-content: center;
}

.layout {
  padding: 50px 0;
  width: 100vw;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}
