body {
  font-family: 'Cairo', sans-serif;
  background-color: #000000;
  background-image: url(../../images/topography.svg);
  background-attachment: fixed;
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
}

.layout {
  padding: 50px 20px 0 20px;
  width: 100vw;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
}