@import '~styles/base.scss';

body {
  background-color: $white;
  font-family: 'Roboto', sans-serif;
}

.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  z-index: 1;
  // filter: blur(4px);
}

.particle {
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url('../../images/fish.svg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

@for $i from 1 through 30 {
	@keyframes particle-animation-#{$i} {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
		100% {
      opacity: 0;
			transform: translate3d((random(90) * 1vw), (random(90) * 3vh), (random(100) * 1px));
		}
	}
	
	.particle:nth-child(#{$i}){
		animation: particle-animation-#{$i} 60s infinite;
		$size: random(90) + 5 + px;
		// opacity: random(100)/100;
		// height: $size;
    // width: $size;
    
		animation-delay: -$i * .2s;
		transform: translate3d((random(90) * 1vw), (random(90) * 2vh), (random(100) * 1px));
    // background: hsl(random(360), 70%, 50%);
    // border: 2px solid hsl(random(360), 90%, 50%);
	}
}

* {
  scrollbar-width: thin;
  scrollbar-color: $scroll-bar-color;
}

body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-color;    /* color of the scroll thumb */
  border-radius: 0;    /* roundness of the scroll thumb */
}

.App {
  display: flex;
  justify-content: center;
}

.layout {
  padding: 50px 0;
  width: 100vw;
}

.main-content {
  max-width: 900px;
  margin: 0 auto;
}
