@import '~styles/base.scss';

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
  position: relative;
}

.menu-container {
  padding: 10px;
  display: flex;

  .menu-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $light-grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &.selected {
      .image-bg {
        background-color: $pallete-1;
      }
    }

    .image-bg {
      width: 68px;
      height: 68px;
      position: relative;
      background-color: $grey;
      border-radius: 50%;
      margin: auto;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $pallete-1;
      }

      img {
        margin: 0;
        position: absolute;
        width: 48px;
        height: 48px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .menu-buttons:hover {
    display: flex;
    flex-direction: column;
  }

  .menu-buttons:not(first-child) {
    margin-left: -7px;
  }
}
