@import '~styles/base.scss';

.contact-card-container {
  border: 2px solid $pallete-1;
  border-radius: 4px;
  width: 400px;
  padding: 20px;
  color: $text-1;
  text-align: center;

  .name {
    font-size: larger;
    color: white;
  }

  .profile {
    height: 64px;
    margin: 10px auto;
    border-radius: 50%;
    border: 1px solid $pallete-2;
  }

  .icons {
    display: flex;
    justify-content: center;
    text-decoration: none;

    div {
      margin: 10px 10px;
    }
  }
}