@import '~styles/base.scss';

.info-box {
  background-color: $light-grey;
  color: $black;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;

  .box-title {
    font-size: 12px;
    overflow-wrap: break-word;
  }

  .box-text {
    font-weight: 500;
  }
}
