@import '~styles/base.scss';

.exp-card-container {
  width: 250px;
  height: 300px;
  transition: all ease-in-out 0.3s;
  
  .exp-card-header {
    border-bottom: 1px solid $pallete-1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    transition: all ease-in-out 0.3s;

    &.hover {
      background-color: $pallete-1-t;
    }
  }

  .exp-card-inner {
    font-size: small;

    .exp-status-container {
      display: flex;
  
      .exp-status-box {
        background-color: $lime-green;
      }
    }
  }

  .exp-card-bottom {
    border: 1px solid $pallete-1;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $pallete-1-t;
    }
  }
}
