@import '~styles/base.scss';

.menu {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  bottom: 30px;
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu-container {
  padding: 10px;
  display: flex;
  border-radius: 30px;
  background-color: $bg-color;

  .menu-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    font-size: 1.2rem;
    // transition: all ease-in-out 0.4s;
    cursor: pointer;

    &.divider:not(:last-child) {
      border-right: 1px solid $selected;
    }

    .icon {
      width: 64px;
      height: 64px;
      image-rendering: pixelated;
      
    }
  }

  .menu-buttons:hover {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
    font-size: 1.2rem;
    background-color: $pallete-1;
    border-radius: 4px;
    color: white;
  }
}